<%# The answer.html.erb will display the question you ask your coach as well as his answer. The controller will need to read the question from params and compute an instance variable @answer for the view to display. Here are two requests that you should be able to handle:

localhost:3000/answer?question=hello
localhost:3000/answer?question=what time is it?
If you don’t remember about the coach (poor) logic, here it is:

If the message is I am going to work, the coach will answer Great!
If the message has a question mark ? at the end, the coach will answer Silly question, get dressed and go to work!.
Otherwise the coach will answer I don't care, get dressed and go to work! %>

<div class="sentence question">
    <span class="sentence__expression"><%= @question %></span>
    <span class="sentence__expressor"><em>You</em></span>
</div>
<div class="sentence answer">
    <span class="sentence__expression"><strong><%= @answer %></strong></span>
    <span class="sentence__expressor"><em>Your coach</em></span>
</div>
<div class="backlink">
    <a href="/ask">Ask a new question</a>
</div>